/ARRAYS
/BREAK E CONTINUE
/CRONÔMETRO
/DO E WHILE
/DOM e FOR
/ESCOPO LEXICO
/EXERCÍCIO FIZZBUZZ
/EXERCÍCIO MATH
/EXERCÍCIO PAISAGEM
/FOR IN & FOR OF & FOR CLÁSSICO
/FUNCOES
/GERADOR DE NUMEROS ALEATORIOS
/LISTA DE TAREFAS.rar
/NODELIST
/relogio
/RETURN
/SETINTERVAL E SETTIMEOUT
/TESTE
/TRY, CATCH E THROW ( e um pouco de DATE)